@font-face {
  font-family: Manifold;
  src: url(fonts/ManifoldDSA-Regular.woff2);
}

@font-face {
  font-family: ManifoldX;
  src: url(fonts/ManifoldDSA-Heavy.woff);
}

@font-face {
  font-family: ManifoldB;
  src: url(fonts/ManifoldDSA-Bold.woff2);
}

.screen {
  height: 100vh;
  overflow: visible;
  background-image:
    linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1) 20%, rgba(255,255,255,0.2)),
    linear-gradient(to bottom, rgba(239,31,39,0.5), rgba(274, 143, 143, 0.3) 40%, rgba(255,255,255,1) 65%),
    url(img/gulag.jpg);
  background-size: contain;
}

.container {
  box-sizing: border-box;
  font-family: "Manifold";
}

.content {
  margin-top: 20vh;
  margin-right: 10%;
  margin-left: -10%;
}

a {
  color: black;
}

a:hover {
  color: red;
}

.MenuBar li:hover {
  color: turquoise;
  cursor: default;
}

.clear {
  clear: both;
}

.side {
  height: 80vh;
}

.side img {
  height: 100%;
}

.BlogPage {
  max-width: 40%;
  float: right;
  margin-right: 20%;
  margin-top: 10rem;
}

.blog-body {
  text-align: justify;
}

.blog-title, .blog-author {
  font-family: "ManifoldB";
}

.blog-title {
  font-size: 2rem;
}

.blog-author {
  font-size: 1.5rem;
}

.Calendar {
  max-width: 40%;
  float: right;
  margin-right: 20%;
  margin-top: 10rem;
}

.post-input {
  margin-top: 100vh;
}

.blog-index {
  float: right;
}
