@font-face {
  font-family: Manifold;
  src: url(ManifoldDSA-Regular.woff2);
}

@font-face {
  font-family: ManifoldX;
  src: url(ManifoldDSA-Heavy.woff);
}

@font-face {
  font-family: ManifoldB;
  src: url(ManifoldDSA-Bold.woff2);
}

body {
  box-sizing: border-box;
  font-family: "Manifold";
}

.MenuBar {
  list-style: none;
  display: inline-block;
  width: 70%;
  font-family: "ManifoldB";
  font-size: 1.5rem;
  text-decoration: underline;
  float: right;
  margin-right: 4%;
}

.MenuBar li {
  display: inline;
  margin-left: 4%;
  margin-right: 4%;
  text-decoration: underline;
}

.MenuBar li:hover {
  color: turquoise;
  cursor: default;
}

.clear {
  clear: both;
}

.side {
  position: absolute;
  height: 80vh;
}

.side img {
  height: 100%;
}

.BlogPage {
  max-width: 40%;
  float: right;
  margin-right: 20%;
  margin-top: 10rem;
}

.blog-body {
  text-align: justify;
}

.blog-title, .blog-author {
  font-family: "ManifoldB";
}

.blog-title {
  font-size: 2rem;
}

.blog-author {
  font-size: 1.5rem;
}

.Calendar {
  max-width: 40%;
  float: right;
  margin-right: 20%;
  margin-top: 10rem;
}

.post-input {
  margin-top: 100vh;
}
